@model cwagnerFinancialPortal.Models.Household.EditHouseholdViewModel

@using (Html.BeginForm("EditHousehold", "Household", FormMethod.Post, new { @class = "form-material form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Edit Household Name</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="text" name="@nameof(Model.Name)" class="form-control" value="@Model.Name">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
        <button type="Submit" class="btn btn-danger waves-effect waves-light">Save</button>
    </div>
}