@model cwagnerFinancialPortal.Models.Category.CreateCategoryViewModel


@using (Html.BeginForm("CreateCategory", "Budget", FormMethod.Post))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add a category</h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="category-name" class="control-label">Category Name:</label>
            @Html.EditorFor(e => Model.Name)
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-danger waves-effect waves-light">Submit</button>
    </div>
}