@model cwagnerFinancialPortal.Models.Transaction.DeleteTransactionViewModel

<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel"><b>WARNING!</b></h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body">
    <h4>Are you sure you want to void the transaction for the amount of @Model.Amount.ToString("C")?</h4>
    <p>This transaction will be removed from record and your balance adjusted.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
    @using (Html.BeginForm("DeleteTransaction", "BankAccount", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(h => Model.Id)
        <button type="submit" class="btn btn-danger waves-effect waves-light">Delete</button>
    }
</div>