<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=coderfoundry.cloudapp.net,55555;Database=cwagner-budgeter;User ID=cwagner;Password=ch33rwine;Persist Security Info=True;Connection Timeout=30;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
</connectionStrings>